body{overflow-x:hidden}
.margin {
  width: 1040px;
  margin: 0 auto; }

header {
  height: 40px;
  width: 100%;
  background: #f1f1f1;
  border-bottom: 1px solid #e1e1e1;
  font: 12px/40px ""; }
  header .margin {
    display: flex;
    justify-content: space-between; }
  header a {
    margin-right: 20px; }
  header .header-l {
    display: flex; }
    header .header-l span {
      color: #f01e1e;
      margin-right: 20px; }
  header .header-r {
    display: flex; }
    header .header-r span {
      margin: 0 5px; }
    header .header-r b {
      color: #ed3f3f; }
    header .header-r img {
      margin-top: -2px; }
    header .header-r .weibo {
      display: flex;
      margin-top: 7px;
      width: 62px;
      height: 22px;
      color: #fff;
      background: url(../images/bg_css.gif);
      background-position: -63px 0; }
    header .header-r .weibo {
      display: flex;
      margin-top: 7px;
      width: 62px;
      height: 22px;
      color: #fff;
      background: url(../images/bg_css.gif);
      background-position: -63px 0; }
    header .header-r em {
      display: inline-block;
      width: 16px;
      margin: 3px 0 0 3px;
      background: url(../images/bg_css.gif);
      background-position: -190px 0; }
    header .header-r .fText {
      font: 7px/22px "";
      margin-right: 2px; }

#top {
  background: #fff; }
  #top .margin {
    display: flex;
    justify-content: space-between; }
  #top .top-l {
    margin: 15px; }
  #top .top-r {
    color: #f01e1e;
    margin: 15px; }
  #top .top-c {
    position: relative;
    margin: 46px 0px 0px 36px; }
  #top .top-c input {
    box-sizing: border-box;
    font-weight: 400;
    margin: 0px;
    padding: 0px; }
  #top .top-c input[type="text"] {
    display: block;
    float: left;
    width: 500px;
    height: 40px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    padding-left: 70px;
    line-height: 34px;
    border-width: 3px;
    border-style: solid;
    border-color: #ed3f3f; }
  #top .top-c input[type="submit"] {
    background-color: #ed3f3f;
    float: left;
    width: 120px;
    height: 40px;
    color: white;
    font-family: SimHei;
    font-size: 20px;
    cursor: pointer;
    border-style: none; }
  #top .top-c .search_type {
    position: absolute;
    -webkit-appearance: none;
    width: 58px;
    left: 3px;
    top: 3px;
    height: 28px;
    border-width: 0px 1px 0px 0px;
    background: url(http://ourjs.github.io/static/2015/arrow.png) 100% center no-repeat scroll #f1f1f1;
    border-right: 1px solid #e1e1e1;
    padding: 0px 2%;
    margin: 0px; }
  #top .top-c .guanjianci {
    display: block;
    width: 620px;
    height: 16px;
    margin-top: 46px; }
  #top .top-c .guanjianci a {
    margin-right: 8px; }

nav#list {
  background: rgba(240, 30, 30, 0.9); }
  nav#list .margin {
    display: flex; }
  nav#list a {
    font: 700 16px/50px "";
    color: #fff;
    padding: 0 20px; }
    nav#list a:hover {
      background: #c63636; }
    
#car-main{}
#car-main .margin{}
#car-main .margin table{margin:20px;width:100%;text-align:center;}
#car-main .margin table thead{border: 2px solid #eee4e4;}
#car-main .margin table tbody{border:2px solid #eee4e4;background:#fef4f4;}
#car-main .margin table tbody .shop-c-select img{width:80px;height:80px;}
#car-main .margin table tbody .shop-c .shop-c-num{}
#car-main .margin table tbody .shop-c .shop-c-num .car-num{
  border: 0;
  width: 50px;
  text-align: center;
  line-height: 28px;}
#car-main .margin table tbody .shop-c .shop-c-num .car-jia,#car-main .margin table tbody .shop-c .shop-c-num .car-jian{
  display:inline-block;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  background: #e4e4e4;
  color: #333;
  width: 28px;
  height: 28px;
  font-size: 16px;}
#car-main .margin table tfoot{border:2px solid #eee4e4;}
#car-main .margin table tfoot .shop-b2{vertical-align: middle;}
#car-main .margin table tfoot .shop-b2-word{display:inline-block;color: red;font:20px/2 "";}







footer {
  margin-top: 50px; }
  footer .margin {
    border-top: 1px solid #e1e1e1;
    background-color: #f1f1f1; }
    footer .margin .bottom {
      width: 1040px;
      color: #6c6c6c;
      padding: 30px 40px 25px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-around; }
      footer .margin .bottom ul li {
        margin: 0px 0px 10px; }
      footer .margin .bottom ul a img {
        display: block;
        width: 160px;
        height: 86px;
        margin-bottom: 8px; }
      footer .margin .bottom ul a p {
        color: #f01e1e;
        text-align: center; }
      footer .margin .bottom dl {
        float: left;
        margin-right: 30px;
        cursor: default; }
        footer .margin .bottom dl dt {
          font-size: 17px;
          font-weight: 700;
          margin-bottom: 13px; }
        footer .margin .bottom dl dd {
          cursor: default;
          font: 12px/21px ""; }
  footer p.p {
    font: 12px/6 "";
    text-align: center;
    color: #6c6c6c; }
